body{
    margin: 0;
    padding: 0;
}


#event1 {
    position: relative;
}

#event1 .container {
    /* max-width: 1159px; */
    /* padding: 0 24px; */
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
}


#event1 .container .group {
    display: flex;
}

#event1 .container .group .right {
    /* background-color: skyblue; */
    flex-basis: 50%;
    flex-shrink: 1;
}

#event1 .container .group .right img{
    display: inline-block;
    margin-left: 40%;
    /* margin-right: auto; */
    width: 60%;
    /* flex: 1 0 0%; */
    text-align: right;
}

#event1 .container .group .left {
    /* background-color: brown; */
    flex-basis: 50%;
    flex-shrink: 2;
}

#event1 .container .group .left img{
    width: 70%;
}

#event1 .container .group .left .tit{
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
}